.button{
	position: absolute;
	text-align: center;

}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

body {
    background-image: url("asuphoto.jpg");
    overflow-x: hidden;
    overflow-y: hidden;
}

#header {
    position: relative;
    color: white;
    font-family: monospace;
    font-size: 50px;
    text-align: center;
    top: -500;
}

