.button{
	position: relative;
	height: 200px;
    border: 3px;
}

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

body {
    background-image: url("asuphoto.jpg");
    overflow-x: hidden;
    overflow-y: hidden;
}

#header {
    position: relative;
    color: white;
    font-family: monospace;
    font-size: 50px;
    text-align: center;
    top: -500;
}

.topContainer {
    padding: 20px;
    background-color: rgba(0,0,0,0.1);
}

.paneTitle {
    display:inline-block;
    width:50%;
}

.riskRating {
    display:inline-block;
    text-align:right;
    width:50%;
}

